.hex-cont {
    .hex-lines {
        line-height: 16px;
        height: 100%;

        .row-off {
            display: inline-block;
            font-family: monospace;
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(247, 159, 0, 75);
            height: 14px;
            padding: 1px 3px 1px 3px;
            margin-right: 3px;
            vertical-align: top;
        }
    }

    .hex-view {
        flex-grow: 1;
        line-height: 16px;
        height: 100%;
        overflow: hidden;

        .byte {
            display: inline-block;
            font-family: monospace;
            height: 14px;
            max-width: 20px;
            min-width: 20px;
            padding: 1px 0px 1px 0px;
            vertical-align: top;
            text-align: center;
            white-space: nowrap;
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);

            &--col-end {
                margin-right: 3px;
            }

            &--row-end {
                margin-right: 0px !important;
            }

            &--empty {
                color: rgba(255, 255, 255, 0.125);
            }

            &--changed {
                //animation: hex-view__byte-changed 250ms linear infinite;
            }

            &--cur {
                animation: hex-view__cursor-blink 1s cubic-bezier(0, 0.81, 0.24, 0.97);
                border-bottom: 1px;
                border-bottom-color: orange;
                border-bottom-style: dashed;
                margin-bottom: -1px;
            }
        }
    }

    .ascii-view {
        line-height: 16px;
        overflow: hidden;

        span {
            display: inline-block;
            font-family: monospace;
            padding: 1px 0px 1px 0px;
            height: 14px;
            text-align: center;
            max-width: 10px;
            min-width: 10px;
            vertical-align: top;
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .hex-scroll {
        background-color: rgba(0, 0, 0, 0.5);
        margin-left: 5px;

        &__nub {
            background-color: orange;
            width: 10px;
            height: 50px;
            position: relative;
        }
    }
}

@keyframes hex-view__cursor-blink {
    50% {
        border-bottom-color: transparent;
    }
}
@keyframes hex-view__byte-changed {
    0% {
        background-color: rgba(255, 0, 0, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
