.main-screen {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5px;

        h1 {
            margin-bottom: 0px !important;
        }

        nav {
            display: flex;
            flex-direction: row;

            span {
                cursor: pointer;
                padding: 10px;
                color: white;
                transition: color 125ms, background-color 125ms;

                &.active {
                    color: orange;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}
