.react-portal {
  display: block;
  height: 100vh;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 10;

  &__content {
    pointer-events: all;
  }

  &__background {
    background-color: transparent;
    height: 100vh;
    left: 0px;
    top: 0px;
    pointer-events: none;
    position: absolute;
    transition: background-color ease-in-out 200ms;
    width: 100vw;
    z-index: 0;

    &--dark {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &--clickable {
      pointer-events: all;
    }
  }
}
